{% extends "base.html" %}

{% block title %}Add an event{% endblock %}

{% block content %}
    <div style="margin: 50px; background: rgba(255, 255, 255, 0.6); text-align: center;">
        <h2>Добавление кастомного события</h2>
        <br>
        <form method="POST">
            <div class="form-group">
                <label for="name_event">Название</label>
                <input type="text" class="form-control" id="name_event" name="name_event">
            </div>

            <div class="form-group">
                <label for="description_event">Описание</label>
                <textarea class="form-control" id="description_event" name="description_event" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="time_begin_event">Время начала</label>
                <input class="form-control" type="datetime-local" id="time_begin_event" name="time_begin_event">
            </div>

            <div class="form-group">
                <label for="time_end_event">Время окончания</label>
                <input class="form-control" type="datetime-local" id="time_end_event" name="time_end_event">
            </div>

            <div class="form-group">
                <label for="type_event">Повтор</label>
                <select class="form-control" id="type_event" name="type_event">
                    <option>Один раз</option>
                    <option>Ежедневно</option>
                    <option>По будням</option>
                    <option>Раз в неделю</option>
                    <option>Раз в две недели</option>
                </select>
            </div>
            <input id="submit_event" name="submit_event" type="submit" class="submit_event" value="Добавить" onclick="eventAdded()" >
        </form>
    </div>

    <script>
        function eventAdded() {
            window.location = '/';
            alert("Событие добавлено!");
        }
    </script>
{% endblock %}
