{% extends "base.html" %}

{% block title %}Добавить событие{% endblock %}

{% block content %}
    <div style="margin: 50px; background: rgba(255, 255, 255, 0.6); text-align: center;">
        <h2>Добавление кастомного события</h2>
        <br>
        <form action="/submit_events" method="POST">
            <div class="form-group">
                <label for="name_event">Название</label>
                <input type="text" class="form-control" id="name_event" name="name_event">
            </div>

            <div class="form-group">
                <label for="description_event">Описание</label>
                <textarea class="form-control" id="description_event" name="description_event" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="date_begin_event">Время начала</label>
                <input class="form-control" type="date" id="date_begin_event" name="date_begin_event" required>
                <input class="form-control" type="time" id="time_begin_event" name="time_begin_event" required>
            </div>

            <div class="form-group">
                <label for="date_end_event">Время окончания</label>
                <input class="form-control" type="date" id="date_end_event" name="date_end_event">
                <input class="form-control" type="time" id="time_end_event" name="time_end_event">
            </div>

            <div class="form-group">
                <label for="type_event">Повтор</label>
                <select class="form-control" id="type_event" name="type_event">
                    <option>Один раз</option>
                    <option>Ежедневно</option>
                    <option>По будням</option>
                    <option>Раз в неделю</option>
                    <option>Раз в две недели</option>
                </select>
            </div>
            <input id="submit_event" name="submit_event" type="submit" class="submit_event" value="Добавить">
        </form>
    </div>

    <script>
        function eventAdded() {
            alert("Событие добавлено!");
        }

        var empty_end_date = document.getElementById('date_end_event');
        var empty_end_time = document.getElementById('time_end_event');

        empty_end_date.onchange = handleChange;
        empty_end_time.onchange = handleChange;

        function handleChange() {
               if (!empty_end_date.value && !empty_end_time.value) {
                   empty_end_date.required = false;
                   empty_end_time.required = false;
               } else {
                   empty_end_date.required = true;
                   empty_end_time.required = true;
               }
        }


    </script>
{% endblock %}
