<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="shortcut icon" type="shortcut_icon/png" href="{{ url_for('static', filename='images/shortcut_icon.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>
<body>
    <div id="header">
		<h1>
			<a href='/'>Scriba CustEv</a>
			<p class="rightstr" id="status">
                {% if not logged_in %}
                    <form action="/login" method="POST">
                        <button type="submit" id="login_VK"  class="VK" > Авторизуйтесь через VK </button>
                    </form>
                {% else %}
                    Здравствуйте, {{username}}!
                    <img src={{pfp}} class="round">
                    <form action="/logout" method="POST">
                        <button type="submit" id="logout_VK"  class="VK" >Выход</button>
                    </form>
                {% endif %}
			</p>
		</h1>
	</div>
	<br><br><br><br>
    {% block content %}{% endblock %}
</body>

</html>
