{% extends "base.html" %}

{% block title %}List of events{% endblock %}

{% block content %}
    <div style="text-align: center;">

	   <h3>Здесь представлены ваши кастомные события. Для удаления нажмите на крестик справа от карточки.</h3>

        <div class="card" style="width: 80%; font-size: 20pt; border-radius: 20px; padding: 20px; background: rgba(255, 255, 255, 0.8); margin: auto; ">
            <span class="close" style="text-align: right;"> &times;</span><a><b>Название</b> дата <br> </a>Описание
        </div>
        <br>

        <div class="card" style="width: 80%; font-size: 20pt; border-radius: 20px; padding: 20px; background: rgba(255, 255, 255, 0.8); margin: auto; ">
            <span class="close" style="text-align: right;"> &times;</span><a><b>Название</b> дата <br> </a>Описание
        </div>
        <br>

        <div class="card" style="width: 80%; font-size: 20pt; border-radius: 20px; padding: 20px; background: rgba(255, 255, 255, 0.8); margin: auto; ">
            <span class="close" style="text-align: right;"> &times;</span><a><b>Название</b> дата <br> </a>Описание
        </div>
        <br>

        <div class="card" style="width: 80%; font-size: 20pt; border-radius: 20px; padding: 20px; background: rgba(255, 255, 255, 0.8); margin: auto; ">
            <span class="close" style="text-align: right;"> &times;</span><a><b>Название</b> дата <br> </a>Описание
        </div>
        <br>
	</div>

    <script>
        const closebtns = document.getElementsByClassName("close");
        let i;

        for (i = 0; i < closebtns.length; i++) {
            closebtns[i].addEventListener("click", function() {
                this.parentElement.style.display = 'none';
            });
        }
    </script>
{% endblock %}
