{% extends "base.html" %}

{% block title %}Scriba{% endblock %}

{% block content %}
    <div style="text-align: center;">

	   <form action = "/classes" method="GET">
           <input id="show_lesson" type="submit" class="show_list" value="Список пар" >
       </form>
	   <form action = "/events" method="GET">
           <input id="show_event" type="submit" class="show_list" value="Список кастомных событий">
       </form>
	   <form action = "/classes" method="POST">
           <input id="add_lesson" type="submit" class="add" value="Добавить пару">
       </form>
	   <form action = "/events" method="POST">
           <input id="add_event" type="submit" class="add" value="Добавить кастомное событие">
       </form>

	</div>
{% endblock %}
